# Path: config.yaml
server:
  port: 6555
  host: 0.0.0.0
  api_root: "http://127.0.0.1:5700/"
  manage_qq: 1113855149

message:
  text_to_image: false

baai:
  apiKey: ''  # http://flagstudio.baai.ac.cn/document#1  ai绘画子自行申请

chatGpt:
  - Api:
      key: "your key"
      # 代理设置 不使用请注释掉
      proxy："127.0.0.1:15732"