# Path: config.yaml
server:
  port: 6555
  host: 0.0.0.0


cqhttp:
  cqType: "http"    # http or ws
  # cqType是http时，填写以下内容
  http:
    host: 172.16.150.147
    port: 5700

message:
  text_to_image: false

baai:
  apiKey: ''  # http://flagstudio.baai.ac.cn/document#1  ai绘画子自行申请

chatGpt:
  - Api:
      key: "your key"
      # 代理设置 不使用请注释掉
      proxy："127.0.0.1:15732"