@font-face {
  font-family: "jty";
  src: url("jty.OTF");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NZBZ";
  src: url("NZBZ.TTF");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "xw";
  /*src: url("站酷小薇LOGO体.OTF");*/
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "好宋体";
  /*src: url("MFYANSONG_NONCOMMERCIAL-REGULAR.OTF");*/
  font-weight: normal;
  font-style: normal;
}
.lb{

	font-size:30px;
	font-weight:510;
	padding-left:10px;
	padding-bottom:15px;
	padding-top:15px;
	padding-right:10px;
	margin-left:40px;
	margin-right:40px;
	color:#000;
	text-indent:2em;
	background-color:rgb(255 255 255 / 0%);
	line-height:180%
	
}
.lb2{

	font-size:70px;
	font-weight:510;
	padding-left:10px;
	padding-bottom:30px;
	padding-top:5px;
	padding-right:10px;
	margin-left:40px;
	margin-right:40px;
	color:#000;
	text-shadow:3px 3px 3px rgb(0 0 0 / 0%);
	
	

	
	
}
img{
	padding-top:20px;
	 border-radius:30px;
	 padding-bottom:5px;
	 box-shadow:3px 3px 3px rgb(0 0 0 / 50%);
}
.jw{
	padding-top:20px;
	text-align: center;
	font-size:23px;
text-shadow:2px 2px 3px rgb(0 0 0 / 80%);
	color: #000000;
	
}
.kqtp{
	text-align:center;
	font-size:80px;
	padding-top:50px
	
}
.id{
	width:20px;
	color: #000000;
	padding-left:20px;
	background-color:rgb(0 0 0 / 30%);
	text-align:center;
	font-size:25px
}
.rw{
	color: #00e0fe;
	font-weight:900;
	padding-left:20px;
	background-color:rgb(0 0 0 / 40%);
	padding-bottom:10px;
	padding-top:10px;
	font-size:25px;
	text-shadow:2px 3px 1px black;
}

.bg1{
	width:100%;
	text-align:left;
	height:60px;
	 

	color:#333333;
	
    font-family: "jty";
	
}
.biaoge{
	padding-top:50px;
	padding-bottom:30px;
	
}
table{
	
	margin:auto
}
body{
	background-image:url(bg3.png);
}
.bt{
	text-align:center;
	padding-top:50px;
	padding-bottom:30px;
	color: #000000;
	text-shadow:2px 2px 3px rgb(0 0 0 / 80%);
}